<div class="container">
    <div class="card">
        <div class="card-header" >
            <h2 class="text-center">Lista de personajes</h2>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Alternate name</th>
                    <th>Species</th>
                    <th>Gender</th>
                    <th>House</th>
                    <th>Date of Birth</th>
                    <th>Wizard</th>
                    <th>Ancestry</th>
                    <th>Eye Colour</th>
                    <th>Hair Colour</th>
                    <th>Wand</th>
                    <th>Patronus</th>
                    <th>Hogwarts Student</th>
                    <th>Hogwarts Staff</th>
                    <th>Actor</th>
                    <th>Alternate Actors</th>
                    <th>Alive</th>
                    <th>Image</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let h of listaH">
                    <td>{{h.id}}</td>
                    <td>{{h.name}}</td>
                    <td>{{h.alternate_names}}</td>
                    <td>{{h.species}}</td>
                    <td>{{h.gender}}</td>
                    <td>{{h.house}}</td>
                    <td>{{h.dateOfBirth}}</td>
                    <td>{{h.wizard}}</td>
                    <td>{{h.ancestry}}</td>
                    <td>{{h.eyeColour}}</td>
                    <td>{{h.hairColour}}</td>
                    <td>{{h.wand.core}}</td>
                    <td>{{h.patronus}}</td>
                    <td>{{h.hogwartsStudent}}</td>
                    <td>{{h.hogwartsStaff}}</td>
                    <td>{{h.actor}}</td>
                    <td>{{h.alternate_actors}}</td>
                    <td>{{h.alive}}</td>
                    <td><img [src]="h.image" alt="{{h.name}}" width="100"></td>
                    <td><a type="button" class="btn btn-outline-warning"><i class="bi bi-arrow-clockwise"></i></a></td>
                    <td><a type="button" class="btn btn-outline-danger"><i
                            class="bi bi-file-earmark-x"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
